body {
    background-color: #d6e8f8;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745;
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #e9ecef;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.nav-bar a:hover {
    background-color: #007bff;
    color: white;
}

.my-table caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-bottom: none;        text-align: center;
}

.my-table {
    border-collapse: collapse;
    width: 100%;
}

.my-table th,
.my-table td {
    text-align: left;
    padding: 8px;
}

.my-table th {
    background-color: #f2f2f2;
    color: black;
}

.my-table tr:nth-child(even) {
    background-color: #8cc5a8;
}

.my-table tr:nth-child(odd) {
    background-color: #D6EEEE;
}

.upload-icon:hover,
.profile-icon:hover,
.logout-icon:hover,
.login-icon:hover,
.register-icon:hover {
    background-color: #007bff;
}

.upload-icon i,
.profile-icon i,
.logout-icon i,
.login-icon i,
.register-icon i {
    font-size: 37px;
    color: black;
}

.upload-icon,
.profile-icon,
.logout-icon,
.login-icon,
.register-icon {
    margin-left: auto;
    padding: 10px;
}

.nav-bar a.active {
    border: 3px solid red;
}

.home-icon,
.profile-icon,
.logout-icon,
.login-icon,
.register-icon {
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.home-icon:hover,
.profile-icon:hover,
.logout-icon:hover,
.login-icon:hover,
.register-icon:hover {
    background-color: #007bff;
}

.home-icon i,
.profile-icon i,
.logout-icon i,
.login-icon i,
.register-icon i {
    font-size: 37px;
    color: black;
    margin-right: 5px;
}

.container {
    width: 90%; /* Adjust as needed */
    height: 91.49vh; /* Use viewport height */
    margin: 0 auto; /* Center the container */
}

@media (max-width: 992px) {
  .container {
    min-height: 80vh;
  }
}
