body {
    background-color: #d6e8f8;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745;
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #e9ecef;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

.nav-bar a:hover {
    background-color: #007bff;
    color: white;
}

.my-table {
    border-collapse: collapse;
    width: 100%;
}

.my-table th,
.my-table td {
    text-align: left;
    padding: 8px;
}

.my-table th {
    background-color: #f2f2f2;
    color: black;
}

.my-table tr:nth-child(even) {
    background-color: #8cc5a8;
}

.my-table tr:nth-child(odd) {
    background-color: #D6EEEE;
}

.upload-icon:hover {
    background-color: #007bff;
}

.upload-icon i {
    font-size: 37px;
    color: black; /* Set the initial color of the icon */
}

.upload-icon {
    margin-left: auto;
    padding: 10px; /* Add padding for better visual appearance */
}

.nav-bar a.active {
    border: 3px solid red; /* Add your preferred border style here */
}

.home-icon {
    cursor: pointer;
    margin-left: 10px; /* Add margin for spacing between icons */
    display: flex;
    align-items: center;
    padding: 10px; /* Add padding for better visual appearance */
}

.home-icon:hover {
    background-color: #007bff;
}

.home-icon i {
    font-size: 37px;
    color: black; /* Set the initial color of the icon */
    margin-right: 5px; /* Adjust as needed for spacing between icon and text */
}
