<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <style>
    .navbar {
      background-color: #f8f9fa;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .nav-link {
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
    }
  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Files</a>
      {% if current_file %}
        <a class="nav-link active" href="#">{{ current_file }}</a>
      {% endif %}
      <a class="nav-link" href="{{ url_for('unfamiliar_words') }}">Dictionary</a>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
