<!-- Table -->
<div id="refreshedContent">
<table class="table table-striped my-table mt-4">
    <thead>
        <tr>
            {% for header in csv_header %}
                {% if header != 'id' %}  <!-- Exclude the 'id' column -->
                    <th>{{ header }}</th>
                {% endif %}
            {% endfor %}
            <th>Actions</th>  <!-- Add a new column for Actions -->
        </tr>
    </thead>
    <tbody>
        {% for word in filtered_word_list %}
            <tr>
                {% for column in word %}
                    {% if loop.index0 != csv_header.index('id') %}  <!-- Exclude the 'id' column -->
                        <td>{{ column }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <button class="btn btn-info" onclick="showWordDetails('{{ word[0] }}', '{{ word[1] }}', '{{ word[2] }}', '{{ word[3] }}', '{{ word[4] }}', '{{ word[5] }}')">Details</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>