{% extends 'bar.html' %}

{% from "table_view.html" import render_table %}

{% block title %}
Archived Files
{% endblock %}

{% block additional_styles %}
<link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ render_table('archived', archived_files_info, actions=[
{'operation': 'restore', 'label': 'Restore Selected', 'class': 'primary', 'url': 'files.restore_file', 'button': 'Restore', 'th': 'Restore'},
{'operation': 'annihilate', 'label': 'REMOVE Selected', 'class': 'danger', 'url': 'files.permanently_delete_file', 'button': 'Permanently Delete', 'th': 'Annihilate'}
]) }}
{% endblock %}
