{% extends 'bar.html' %}

{% block title %}
Files list
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/checkbox_clearing.js') }}"></script>
<script src="{{ url_for('static', filename='js/batch_operations.js') }}"></script>

<h1>List of Uploaded PDFs</h1>

<div>
    <button class="btn btn-secondary" onclick="performBatchOperation('archive')" type="button">Archive Selected</button>
    <button class="btn btn-danger" onclick="performBatchOperation('delete')" type="button">Delete Selected</button>
</div>

<table class="my-table">
    <caption>List of PDF Files</caption>
    <thead>
    <tr>
        <th><input id="selectAll" onclick="selectAllCheckboxes(this)" type="checkbox"></th>
        <th>File Name</th>
        <th>Upload Date</th>
        <th>Access Date</th>
        <th>Status</th>
        <th>Archive</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for pdf_file_info in pdf_files_info %}
    <tr>
        <td><input class="file-checkbox" type="checkbox" value="{{ pdf_file_info['name'] }}"></td>
        <td>
            <a href="/file_list/{{ pdf_file_info['name'] }}">{{ pdf_file_info['name'] }}</a>
        </td>
        <td>{{ pdf_file_info['upload_date'] }}</td>
        <td>{{ pdf_file_info['access_date'] }}</td>
        <td>{{ pdf_file_info['status'] }}</td>
        <td>
            <form action="{{ url_for('files.archive_file', filename=pdf_file_info['name']) }}" method="POST">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <button class="btn btn-secondary" type="submit">Archive</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('files.delete_file', filename=pdf_file_info['name']) }}" method="POST">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
