{% extends 'bar.html' %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Your login page description here" name="description">
{% endblock %}

{% block content %}
<h1>Login</h1>
<form action="{{ url_for('auth.login') }}" method="post">
    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    {{ form.submit }}
</form>
{% endblock %}
