<!-- register.html -->
{% extends 'bar.html' %}

{% block title %}
    Register
{% endblock %}

{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Your login page description here" name="description">
    <!-- Add any additional meta tags if needed -->
{% endblock %}

{% block content %}
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<form action="{{ url_for('auth.register') }}" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        {{ form.confirm_password.label }} {{ form.confirm_password }}
        {{ form.submit }}
    </form>
{% endblock %}
